// Override variables
$dark: #000000;
$danger:#fb3b5c;
// Import files
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    font-family: 'DM Sans', sans-serif;
}
body{
    background: linear-gradient(black 30%, transparent 30%) no-repeat;
}
@media (min-width: 1200px) {
    .navbarLogo{
        content: url('../public/airbnb-icon-long.png');
        width: 100px;
    }
}
@media ( min-width: 950px){
    .searchBar{
        top:-75px;
    }
}

.dropdown-menu{
    right:10px;
}

.form-control:focus{
    box-shadow: none!important;
}
.sideBar{
    display: flex;
    flex-direction: row;
}
.sideBar .sideBar__host__button{
    font-size: smaller;
    height: 40px;
    border-radius: 40px;
}
.sideBar .sideBar__langauge__button{
    height: 40px;
    border-radius: 40px;
}
.sideBar__host__button:hover, .sideBar__langauge__button:hover{
    background-color:#8c8c8c;
    border-radius: 40px;
} 

.sideBar .sideBar__langauge__button, .sideBar .btn-group{
    height: 40px;
}
.sideBar .sideBar__langauge__button img{
    display: block;
}
.sideBar .btn-group .btn{
    width: 80px;

}


.todotripJumbotron {
    background-image: url('../public/to-do-trip.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.todohomeJumbotron {
    background-image: url('../public/to-do-home.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.todotripJumbotron__title, .todohomeJumbotron__title{
    font-weight: 500;
    font-size: 55px;
}
.jumbotron__flexible {
    background-image: url('https://a0.muscache.com/im/pictures/23b047cd-19c9-42c0-a83b-2f4f6f25717b.jpg?im_w=1200');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.jumbotron__ukraine{
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.jumbotron__flexible__title, .jumbotron__ukraine__title{
    font-weight: 500;
    font-size: 40px;
}
.jumbotron__flexible button{
    font-size: 18px;
    font-weight: 500;
    color: rgb(172,4,95);
    color: linear-gradient(90deg, rgba(172,4,95,1) 0%, rgba(159,38,160,1) 100%, rgba(0,212,255,1) 100%);
}    
.searchBar{
    margin:auto;
    padding:0;
    max-width: 900px
}
.searchBar__panel__wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    width:90%;
    max-width:860px;
}

.searchBar__panel__wrapper .-wrapperTwo{
    grid-template-columns: auto auto;
}
.searchBar__wrapper__container .searchBar__container__button, .searchBar__wrapper__searchbutton .searchBar__container__button{
    text-align: left;
    padding-left: 20px;
    width: 100%;
}
.searchBar__wrapper__container small{
    font-size: 12px;
    font-weight: 600;
}
.searchBar__wrapper__container span, input[type=text]{
    font-size: 14px;
    font-weight: 400;
    color: #808080 ;
}
.searchBar__wrapper__container .-button{
    border: red solid 1px;
}
.searchBar__container__search{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-right: 5px;
}
input[type=text] {
    background-color: transparent !important;
    padding: 0;
  }

.searchBar__wrapper__container:hover, .searchBar__wrapper__searchbutton:hover{
    background-color: #ebebeb;
    border-radius: 40px;
} 

.searchBar{
    position: relative;
    margin-bottom: 10px;
}

.searchBar__lists__item{
    position: relative;
    font-size:15px;

}
.searchBar__item__link{
    text-decoration: none;
}
.searchBar__item__link::after{
    content:'';
    position: absolute;
    height:2px;
    width: 6px;
    left:50%;
    right:50%;
    bottom: 0;
    background-color: white;
    transform: scale(0,1);
    transition: transform 300ms ease;
}
.searchBar__item__link:hover{
    color:#808080;
}

.searchBar__item__link:hover::after{
    transform: scale(1,1);
}

.searchBar__lists__item .active::after{
    content:'';
    position: absolute;
    height:2px;
    width:20%;
    bottom: 0;
    left:40%;
    right: 60%;
    background-color: white;
    display: flex;
    justify-items: center;
    transform: none;
    transition:none;
}

.langModal .langModal__col__button{
    text-align: left;
    border: 1px solid red;
    width:100%;
}

.langModal__col__button small{
    font-size: 15px;
    font-weight: 500;
}
.langModal__col__button span{
    font-size: 15px;
    font-weight: 400;
    color: #808080 ;
}
.langModal__row__col{
    width:100%;
}


.navbarLogo{
    margin-left: 10px;
}
